# Decision Tree Classification (Karar Ağaçları)

* Akış diyagramları kullanılır.
* Denetimli Öğrenme konsepti kapsamındadır.
* DecisionTreesClassificationDataSet.csv

In [11]:
import numpy as np
import pandas as pd
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [12]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

Scikit-learn kütüphanesi decision tree'lerin düzgün çalışması için her şeyin rakamsal olmasını bekliyor. Bu nedenle veri setimizdeki tüm Y ve N değerlerini 0-1 olarak düzeltiyoruz. Aynı sebeple eğitim seviyesini de BS:0 MS:1 ve PhD:2 olarak güncelliyoruz. map() kullanarak boş hücreler veya geçersiz değer girilen hücreler NaN ile doldurulacaktır. Buna şu andaki veri steimizde ihtiyacımız yok fakat ileride yoğun veri ile çalıştığımız zaman ihtiyacımız olacaktır.

In [13]:
duzeltme_mapping = {"Y" : 1, "N" : 0}

df["IseAlindi"] = df["IseAlindi"].map(duzeltme_mapping)
df["SuanCalisiyor?"] = df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(duzeltme_mapping)
df["StajBizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(duzeltme_mapping)

duzeltme_mapping_egitim = {"BS":0, "MS":1, "PhD":2}
df["Egitim Seviyesi"] = df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [15]:
x = df.drop(["IseAlindi"], axis = 1)
y = df["IseAlindi"]

In [16]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [17]:
y.head()

0    1
1    1
2    1
3    1
4    0
Name: IseAlindi, dtype: int64

Önce veri setimizi makine öğrenme algoritmasına öğretiyoruz.

In [18]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

Şimdi de tahmin yaptıralım.

In [19]:
# Prediction yapalım.
# 5 yıl deneyimli, halihazırda bir yerde çalışan ve 3 eski şirkette çalışmış olan, eğitim seviyesi Lisans
# top-tier-school mezunu değil
print(clf.predict([[5,1,3,0,0,0]]))

[1]

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [20]:
# Toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[2,0,7,0,1,0]]))

[0]

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [21]:
# Toplam 2 yıllık iş deneyimi, 7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışıyor.
print(clf.predict([[2,1,7,0,1,0]]))

[1]

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [22]:
# Toplam 20 yıllık iş deneyimi, 5 kez iş değiştirmiş  iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[20,0,5,1,1,1]]))

[1]

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(