## OUTLIER (AYKIRI DEGER) TESPİTİ VE VERİSETİNDEN TEMİZLENMESİ İŞLEMLERİ

Outlier, bir veriseti içerisindeki diğer gözlemlerden aykırı ve sapan gözlem veya veri değerdir.
Outlier Nedenleri?

* İnsan kaynaklı hatalar (hatalı veri girişi)
* Cihazlardan kaynaklanan hatalar (ölçüm cihazlarının nadiren de olsa yanlış değer ölçmesi)

In [5]:
import pandas as pd

df = pd.read_csv("outlier_ornek_veriseti.csv", sep= ";")
df

      isim  boy
0      can   88
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150
13    veli  207
14   ilker  234

Alt limit ve üst limit belirledikten sonra bu ikisinin dışında kalan verileri kaldıracağız.

* Q1 (Percentile %25)
* Q3 (Percentile %75)
* IQR_degeri = Q3-Q1

* alt_limit = Q1 - 1,5IQR
* ust_limit = Q3 + 1,5IQR

In [7]:
df.describe()

              boy
count   15.000000
mean   149.466667
std     32.943386
min     88.000000
25%    138.000000
50%    144.000000
75%    149.000000
max    234.000000

### Q1 (%25 percentile hesaplama)

In [19]:
Q1 = df.boy.quantile(0.25)
Q1

138.0

In [27]:
# median
Q2 = df.boy.quantile(0.5)
Q2

144.0

### Q3 (%75 percentile hesaplama)

In [20]:
Q3 = df.boy.quantile(0.75)
Q3

149.0

In [22]:
IQR = Q3 - Q1
IQR

11.0

### Alt Limit ve Üst Limit Hesaplama

In [23]:
alt_limit = Q1 - 1.5 * IQR
alt_limit

121.5

In [24]:
ust_limit = Q3 + 1.5 * IQR
ust_limit

165.5

### Alt ve Üst Limitleri Hesapladığımıza Göre Verisetimizdeki Outlier (Aykırı) Değerleri Bulabiliriz:

In [25]:
df[(df.boy < alt_limit)|(df.boy > ust_limit)]

     isim  boy
0     can   88
13   veli  207
14  ilker  234

**Bu değerler Outlier değerleridir. İstatistiksel hesaplamalarımızın daha verimli ve etkin çalışabilmesi için Outlier değeri verisetimizden çıkaracağız.**

In [26]:
df.boy

0      88
1     132
2     134
3     137
4     139
5     142
6     142
7     144
8     147
9     148
10    149
11    149
12    150
13    207
14    234
Name: boy, dtype: int64

### Outlier Değerlerinin Verisetimizden Çıkarılması

In [30]:
df_outlier_filtrelenmis = df[(df.boy > alt_limit) & (df.boy < ust_limit)]
df_outlier_filtrelenmis

      isim  boy
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150