### Multiple Linear Regression

* Multiple Linear Regression Hesaplaması:
y = a + b1X1 + b2X2 + b3X3 denklemindeki a ve b(i) sayılarının hesaplanmasıdır.

* Biz Python'a örnek veri setimizi verdiğimizde Python bizim için a ve b(i) değerlerini hesaplar ve yeni X değerlerimiz için Y'yi hesaplayıp sonuç olarak verecek fonksiyonu üretir.
* Birden fazla bağımsız değişken var ve sadece bir tane bağımlı değişken var. (Dependent ve independent)

#### Linear Regression
* Linear Regression hesaplaması y = a + bX şeklinde a ve b'nin hesaplanmasıydı.

**Multiple Linear Regression'da birden fazla bağımsız(independent) değişkene karşılık bir bağımlı(dependent) değişken bulunur.**
*linear Regression veriler arasında var olan korelasyonu(ilişkiyi) kullanarak yeni gelecek verileri tahmin etme modelidir. Makine öğrenmesi modeli bize veriler arasındaki bu ilişkiyi belirlememize yardımcı olur ve bu sayede yeni verileri tahmin edebiliriz.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
# sklearn library
from sklearn import linear_model

In [2]:
df = pd.read_csv("multilinearregression.csv", sep = ";")

In [3]:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [4]:
# Linear Regression modeli tanımlıyoruz.
reg = linear_model.LinearRegression()
reg.fit(df[["alan","odasayisi","binayasi"]], df["fiyat"])

# Prediction yapalım.
reg.predict([[230,4,10]])

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

### Eğitilen Makine Öğrenme Modelini Kaydetme ve Yükleme

In [5]:
import pickle

In [ ]:
model_dosyasi = "evfiyattahmini_mlr_model.pickle"

In [ ]:
pickle.dump(reg, open(model_dosyasi, "wb")) #Burada wb: open for writing and open in binary mode anlamına gelir.

**Şu 3 evin fiyatını tahmin edelim!**
* 230m2 - 4 oda - bina yaşı: 10
* 230m2 - 6 oda - bina yaşı : 0
* 355m2 - 3 oda - bina yaşı : 20

In [ ]:
print("230m2 - 4 oda - bina yaşı: 10 - fiyat : ", int(reg.predict([[230,4,10]])), "TL")
print("230m2 - 6 oda - bina yaşı : 0 - fiyat : ", int(reg.predict([[230,6,0]])), "TL")
print("355m2 - 3 oda - bina yaşı : 20 - fiyat : ", int(reg.predict([[355,3,20]])), "TL")

In [ ]:
reg.predict([[230,4,10],[230,6,0],[355,3,20]]) #bu şekilde tek bir satırda da hesaplayabiliriz.

**Katsayılar:**

In [ ]:
reg.coef_

**Sabit Değerler:**

In [ ]:
reg.intercept_

In [ ]:
# Multiple Linear Regression formülümüze dönelim:
# y = a + b1x1 + b2x2 + b3x3 ...

a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10

y = a + b1*x1 + b2*x2 + b3*x3

In [ ]:
y

In [ ]:
reg.predict([[230,4,10]])